@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@import 'leaflet/dist/leaflet.css';



body{
    
    font-family: "Roboto","Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#map{
  width: 100%;
  height: 100%;
}


